<h1> Stupid Coaching </h1>
<blockquote>
  <%=@question%>
  <p>- You</p>
</blockquote>

<blockquote>
  <%=@answer%>
  <p>- Your coach answer</p>
</blockquote>



  <%= link_to "Ask your question", ask_path %>
