// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.input{
  border: solid gray;
  width: 400px;
  height: 40px;
  border-radius: 4px;
}
.submit{
  background-color: blue;
  color: white;
  height: 40px;
  border: solid;
  border-radius: 4px;
}
